@import "../../../../style-module/config";
.nodes-details-box {
  background-color: #f0f2f5;
  .nodes-details-title {
    font-size: 16px;
    color: #333333;
    font-weight: 900;
    background-color: #fff;
    padding: 10px 0 20px 16px;
  }
  .card-box {
    margin-top: 10px;
  }
  > .title {
    font-size: 14px;
    color: #333;
    font-weight: 900;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #fff;
  }
  .card-item {
    height: 180px;
    ::ng-deep .ant-card-body {
      > .title {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin: 10px 0;
      }
      .creationTime-box {
        margin-bottom: 20px;
        color: #626262;
      }
      .item {
        margin: 10px 0;
      }
      .user-box {
        margin: 10px 0;
      }
      .span-title {
        color: #a6a6a6;
      }
      .create-user {
        margin-right: 5px;
        color: $left-top-color;
      }

      .clock-circle {
        margin-right: 5px;
        color: $communication-model-color;
      }
    }
  }
  .card-list-box {
    display: flex;
    flex-wrap: wrap;
    .list-item {
      width: 50%;
      margin-bottom: 20px;
      .title-icon {
        color: #a6a6a6;
        margin-right: 10px;
      }
    }
    .device-type {
      padding: 0;
      .title-icon {
        color: #fff;
        display: inline-block;
        width: 60px;
        font-size: 14px;
        text-align: center;
        padding: 2px;
      }
    }
    .code-width {
      .title-icon {
        color: #fad707;
        margin-right: 10px;
      }
    }
  }
  .right-container {
    .span-title {
      display: inline-block;
      width: 120px;
    }
    .remarks-box {
      margin-top: 20px;
    }
  }
  .basic-operation-box {
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    .title {
      font-size: 14px;
      font-weight: 600;
      color: #333;
    }
    .operation-icon {
      display: flex;
      > div {
        width: 200px;
        height: 80px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: #36cfc9;
          color: #fff;
          .icon-fiLink {
            color: #fff;
          }
        }
      }
    }
  }
}
// 设备类型
.equipment-type {
  padding: 15px 19px 10px 16px;
  font-size: 12px;

  .equipment-model {
    margin-left: 19px;
    font-size: 14px;
  }

  .type-span {
    padding: 5px 6px;
    line-height: 16px;
    color: $bg-c-w;
    background-color: $equipment-detail-type-bg;
  }
}
// 业务状态
.status {
  margin-right: 10px;
  padding: 2px 6px;
  text-align: center;
  font-size: 12px;
  color: $bg-c-w;

  &.lock {
    background-color: $equipment-business-lock-bg;
  }
}
.nodes-statistic-box {
  margin: 16px 0;
}
.node-con-box {
  margin-top: 16px;
}
