<div class="energy-dea-picker-select-tag-box">
    <div class="date-tag-box" (click)="datePickerOpen = true">
        <div class="tag-box">
            <nz-tag
                nzMode="closeable"
                class="tag-item"
                (nzOnClose)="nzOnClose($event, tagItem)"
                *ngFor="let tagItem of datePickTagList"
                >{{ tagItem }}</nz-tag
            >
        </div>
    </div>

    <div class="date-picker-box">
        <nz-date-picker
            [nzShowToday]="false"
            [nzClassName]="'date-picker'"
            (ngModelChange)="onChange($event)"
            [nzStyle]="{ opacity: 0 }"
            [nzPopupStyle]="{ marginTop: '40px' }"
            [(ngModel)]="datePickerModel"
            [nzRenderExtraFooter]="nzRenderExtraFooterTemp"
            [nzOpen]="datePickerOpen"
        ></nz-date-picker>
    </div>
</div>

<ng-template #nzRenderExtraFooterTemp>
    <button nz-button nzType="primary">{{ language.config.confirm }}</button>
    <button nz-button nzType="default">{{ language.config.result }}</button>
    <button nz-button nzType="default" (click)="datePickerOpen = false">
        {{ language.config.cancel }}
    </button>
</ng-template>
