<app-equipment-view-detail
  [isShow]="isShow"
  [equipmentId]="equipmentId"
  (operationNotify)="handleEquipmentOperation($event)"
  (equipmentDetailsNotify)="handleEquipmentDetails($event)"
  [isShowApplication]="isShowApplication"
>
  <div class="info-box">
    <div class="application-operate">
      <h4 class="title">{{languageTable.controlType.equipment}}</h4>
      <div class="application-list">
        <div *ngIf="operationList && operationList.length" class="button-groups">
          <div *ngFor="let item of operationList">
            <button
              *ngIf="item.type === 'button'"
              class="btn"
              (click)="handleEquipmentOperation(item.id,item.code)"
              nz-button nzType="default">
              <i class="icon-fiLink iconfont" [ngClass]="item.icon"></i>
              {{item.name}}
            </button>
            <!--[disabled]="item.disable"-->
          </div>
        </div>
      </div>
    </div>
    <div>
      <!--<app-audio-broadcast-->
        <!--*ngIf="equipmentId && equipmentModel"-->
        <!--#audioBroadcast-->
        <!--[operatePermissionEnum]="this.releaseTableEnum"-->
        <!--[equipmentId]="equipmentId"-->
        <!--[sliderShow]="true"-->
        <!--[equipmentModel]="equipmentModel"-->
        <!--(operationEvent)="handleOperationEvent($event)"-->
      <!--&gt;</app-audio-broadcast>-->
    </div>
  </div>
</app-equipment-view-detail>
<!--音量调整-->
<nz-modal
  *ngIf="isVolume"
  [(nzVisible)]="isVolume"
  [nzMaskClosable]="false"
  (nzOnCancel)="isVolume=false"
  [nzTitle]="languageTable.equipmentTable.volume"
  [nzFooter]="volumeModalFooter"
  nzWidth="500">
  <app-volume-slider-model [volumeValue]="volumeValue" (sliderNotify)="handleVolumeSlider($event, 0)"></app-volume-slider-model>
  <ng-template #volumeModalFooter>
    <button class="link-button" nz-button nzType="primary" (click)="confirmVolume()">
      {{languageTable.strategyList.confirm}}
    </button>
    <button class="link-button" nz-button nzType="danger" (click)="handleCancel()">
      {{languageTable.strategyList.cancel}}
    </button>
  </ng-template>
</nz-modal>
<!--现场广播-->
<nz-modal
  *ngIf="isOnline"
  [(nzVisible)]="isOnline"
  [nzMaskClosable]="false"
  (nzOnCancel)="handleCloseOnline()"
  [nzTitle]="languageTable.equipmentTable.onlineBroadcast"
  [nzFooter]="onlineModalFooter"
  nzWidth="500">
  <app-online-broadcast-model [sourceId]="sourceId" [onlineVolumeValue]="onlineVolumeValue"
                              [equipmentList] = "recordEquipmentList"
                              (sliderNotify)="handleVolumeSlider($event, 1)" (sourceNotify)="handleSource($event)"></app-online-broadcast-model>
  <ng-template #onlineModalFooter>
    <div class="audio-btn-group">
      <span (click)="switchOnlineOperate('0')" *ngIf="!isStop">
        <i class="iconfont fiLink-pic-bofang1 btn-size" ></i>
      </span>
      <span (click)="switchOnlineOperate('1')" *ngIf="isStop">
        <i class="icon-fiLink-l iconfont fiLink-video-tingzhibofang btn-size"></i>
      </span>
    </div>
  </ng-template>
</nz-modal>
<!--插播-->
<app-insert-broadcast-model *ngIf="isInsert"
                            [title]="languageTable.equipmentTable.insertBroadcast"
                            [insertVolumeValue]="insertVolumeValue"
                            [insertType]="insertType"
                            [(xcVisible)]="isInsert"
                            [equipmentList]="selectedEquipmentData"
></app-insert-broadcast-model>
