<!--地图框选-->
<div class="select-polymerization">
  <!--框选图标-->
  <div class="select-polymerization-show iconfont icon-fiLink fiLink-juhefangshi select-polymerization-show-color"
       title="{{indexLanguage.aggregationMethod}}"
       (click)="polymerizationShow()">
  </div>
  <!--框选展开-->
  <div *ngIf="showPolymerization" class="polymerization-show">
    <nz-radio-group [(ngModel)]="polymerizationValue" (ngModelChange)="selectPolymerization($event)">
      <label class="polymerization-show-left" nz-radio
             nzValue="maintenance">{{indexLanguage.areaPolymerization}}</label>
      <label nz-radio nzValue="project" [appTenantPermission]="'2-1-1'"
             *ngIf="projectRole">{{indexLanguage.projectPolymerization}}</label>
    </nz-radio-group>
  </div>
</div>
