<div class="facility-list-panel">
  <!--选择区域-->
  <div class="app-logic-area">
    <div class="logic-left">
      <app-index-left-tab
        [tabList]="deviceTabList"
        [active]="deviceActive"
        (tabChange)="tabChange($event)"
        [AreaType]="'deviceArea'"></app-index-left-tab>
    </div>
    <div class="logic-right">
      <!--选择规划-->
      <app-planning-tree [appTenantPermission]="'3-1-1'" [hidden]="deviceActive !== deviceTabListEnum.planning"
                         [isProjectOrPlanning]="false"
                         (planningDataEvent)="planningDataEvent($event)"
                         [treeName]="'zTree'"></app-planning-tree>
      <!--公共选择-->
      <app-tab-device
        [viewIndex]="viewIndex"
        [firstClick]="firstClick"
        [setSmartPoleModelData]="setSmartPoleModelData"
        [setConstructionStatusData]="setConstructionStatusData"
        [facilityEquipmentConfig]="facilityEquipmentComponent"
        (smartPoleModelData)="smartPoleModelSelect($event)"
        (constructionStatusData)="constructionStatusSelect($event)">
      </app-tab-device>
    </div>
  </div>
  <!--规划列表-->
  <div class="app-facility-list">
    <app-planning-liat-left-card
      [appTenantPermission]="'3-1-4'"
      [viewIndex]="viewIndex"
      [planningData]=planningData
      [smartPoleModelData]=smartPoleModelData
      [constructionStatusData]=constructionStatusData
      [isShowPlanningOrProject]="true"
    ></app-planning-liat-left-card>
  </div>
</div>

