<nz-modal
  nzWidth="80%"
  *ngIf="dismantlePointVisible"
  [(nzVisible)]="dismantlePointVisible"
  [nzContent]="modalContent"
  [nzMaskClosable]="false"
  [nzFooter]="modalFooter"
  [nzTitle]="title"
  (nzOnCancel)="dismantlePointVisible = false"
>
  <ng-template #modalContent>
    <div>
      <xc-table
        #tableComponent
        [dataSet]="dataSet"
        [pageBean]="pageBean"
        [tableConfig]="tableConfig"
        [selectedData]="selectedEquipments"
        (pageChange)="pageChange($event)"
      >
      </xc-table>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" class="link-button" (click)="Confirm()">
      {{ commonLanguage.okText }}
    </button>
    <button nz-button nzType="danger" class="link-button" (click)="dismantlePointVisible = false">
      {{ commonLanguage.cancelText }}
    </button>
    <button nz-button nzType="danger" class="link-button" (click)="clearSelectData()">
      {{ commonLanguage.cleanUp }}
    </button>
  </ng-template>
</nz-modal>

<!-- 列表 单选框 -->
<ng-template #radioTemp let-data="data">
  <nz-radio-group [(ngModel)]="selectEquipmentId" (ngModelChange)="onEquipmentChange($event, data)">
    <label nz-radio [nzValue]="data.equipmentId"></label>
  </nz-radio-group>
</ng-template>

<!--设备类型模板展示-->
<ng-template #equipmentTypeTemplate let-data="data">
  <i class="device-type-icon" [ngClass]="data.iconClass"></i>
  <span
    class="status-text"
    [ngStyle]="data.rowStyle"
    title="{{ data.equipmentType | translate: equipmentTypeEnum:languageEnum.facility }}"
  >
    {{ data.equipmentType | translate: equipmentTypeEnum:languageEnum.facility }}
  </span>
</ng-template>

<ng-template [ngIf]="isDetailPage">
  <xc-table [dataSet]="dataSet" [tableConfig]="tableConfig"> </xc-table>
</ng-template>

<!--设施类型图标-->
<ng-template #deviceTemp let-data="data">
  <div class="hidden" title="{{ data.deviceTypeName }}" [ngStyle]="data.rowStyle">
    <span class="status-temp" [ngClass]="data.deviceClass"> </span>
    {{ data.deviceTypeName }}
  </div>
</ng-template>

<!-- 设施 设备 类型 -->
<ng-template #deviceTypeTemp let-data="data">
  <span
    class="status-text"
    [ngStyle]="data.rowStyle"
    title="{{ data.removeType | translate: dismantleTypeEnum:languageEnum.workOrder }}"
  >
    {{ data.removeType | translate: dismantleTypeEnum:languageEnum.workOrder }}
  </span>
</ng-template>
